spring:
  application:
    name: orchestrator
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://postgres:5432/orpheum}
#   The Postgres JDBC driver by default attempts to use server-side prepared statements for performance reasons. Supabase employs pgbouncer, which disallows the use of prepared
#   statements in transaction mode. Therefore, it is crucial to add prepareThreshold=0 to the URL to disable the JDBC driver's default behaviour.
#   NEON DB Production
#   url: "jdbc:postgresql://ep-lucky-sun-a2gtieye-pooler.eu-central-1.aws.neon.tech/orpheum?user=neondb_owner&password=npg_I0PdsLFtUf2M&sslmode=require&channelBinding=require&prepareThreshold=0"
#   STAGING
#   url: "jdbc:postgresql://ep-aged-base-a2c480dv-pooler.eu-central-1.aws.neon.tech/orpheum?user=neondb_owner&password=npg_aG2UVZPSTj9m&sslmode=require&channelBinding=require&prepareThreshold=0"
    username: ${POSTGRES_USER:"neondb_owner"}
    password: ${POSTGRES_PASSWORD:"npg_I0PdsLFtUf2M"}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 300000         # 5 min
      connection-timeout: 30000    # 30s
      max-lifetime: 1800000        # 30 min
  flyway:
    enabled: true

otel:
  traces:
    exporter: none
  metrics:
    exporter: none
  logs:
    exporter: otlp
  exporter:
    otlp:
      logs:
        protocol: grpc
  propagators:
    - tracecontext
  resource:
    attributes:
      deployment.environment: prod
      service:
        name: backstage-server
        namespace: orpheum

# SSL is handled via nginx
#server:
#  ssl:
#    key-store: C:\Users\gauci\Google Drive\Keys\Oprheum.cloud\backstage.orpheum.cloud\keystore.p12
#    key-store-password: ManUtd78
#    key-store-type: PKCS12
#    key-alias: backstage.orpheum.cloud

backstage:
  heartbeat:
    # Run verification every minute
    period-ms: 60000
    # Warnings will be triggered every 10 minutes
    warning-interval-ms: 600000
    verifier:
      DATABASE:
          # 90 minute tolerance
          tolerance-ms: 5400000
      GATEWAY:
          # 15 minute tolerance. Gateway configured to triggering heartbeat every 5 minutes
          tolerance-ms: 900000
    database:
      # Write a db heartbeat entry every hour
      period-ms: 3600000
  portal:
    auth-timeout-ms: 30000
    auth-thread-pool: 3
    api-tokens: >
      ErD96s6KccyHKpKCYPci,
      txtRFKL9HPeSdsJkhjhk

orpheum:
  siteConfig:
    teatru_guest:
      siteIdentifier: "Teatru Guest"
      redirectUrl: "https://orpheum.com.mt/guidebook-teatru-home/"
      friendlyName: "Teatru"
  backupWifiSsid: "Orpheum Backup"
  backupWifiPassword: "MerhbaFlOrfeju!"
  consentText: "I'd like to receive special offers and future stay discounts via email."