services:
  backstage-server:
    container_name: backstage-server
    image: orpheum/backstage-server
    environment:
      - TZ=Europe/Rome
    ports:
      - '8080:80'
      - '8044:443'
    restart: always